spring:
  application:
    name: p2a-bot-java-goat
  datasource:
    url: jdbc:sqlite:./p2a-bot-data.db
    driver-class-name: org.sqlite.JDBC
  jpa:
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.community.dialect.SQLiteDialect
    properties:
      hibernate:
        format_sql: true
  jackson:
    serialization:
      write-dates-as-timestamps: false

telegram:
  bot:
    token: ${TELEGRAM_BOT_TOKEN:}
    username: p2abot

server:
  port: 8080
  servlet:
    context-path: /api

logging:
  level:
    root: INFO
    com.p2abot: DEBUG
